In [6]:
import pandas as pd
import sqlite3

In [7]:
#creating database connection
conn = sqlite3.connect('inventory.db')

In [8]:
#checking tables present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(tables)

              name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

In [20]:

# Loop through each table and show record count + preview
for table in tables['name']:
    print('-' * 50, f'{table}', '-' * 50)
    count = pd.read_sql_query(f"SELECT COUNT(*) AS count FROM {table}", conn)['count'].values[0]
    print('Count of records:', count)
    display(pd.read_sql_query(f"SELECT * FROM {table} LIMIT 5", conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Count of records: 4300000

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [12]:
purchases = pd.read_sql_query("select * from purchases where VendorNumber = 4466", conn)
print(purchases)

              InventoryId  Store  Brand                   Description   Size  \
0        30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
1       34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
2     1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
3       38_GOULCREST_5215     38   5215  TGI Fridays Long Island Iced  1.75L
4     59_CLAETHORPES_5215     59   5215  TGI Fridays Long Island Iced  1.75L
...                   ...    ...    ...                           ...    ...
2187     81_PEMBROKE_5215     81   5215  TGI Fridays Long Island Iced  1.75L
2188   62_KILMARNOCK_5255     62   5255  TGI Fridays Ultimte Mudslide  1.75L
2189    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
2190     6_GOULCREST_5215      6   5215  TGI Fridays Long Island Iced  1.75L
2191    35_HALIVAARA_5255     35   5255  TGI Fridays Ultimte Mudslide  1.75L

      VendorNumber                   VendorName  PONumber      PODate  \
0             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
1             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
2             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
3             4466  AMERICAN VINTAGE BEVERAGE        8207  2023-12-27
4             4466  AMERICAN VINTAGE BEVERAGE        8207  2023-12-27
...            ...                          ...       ...         ...
2187          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2188          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2189          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2190          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2191          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20

     ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0       2024-01-01  2024-01-07  2024-02-21           9.35         4    37.40
1       2024-01-02  2024-01-07  2024-02-21           9.41         5    47.05
2       2024-01-01  2024-01-07  2024-02-21           9.35         6    56.10
3       2024-01-07  2024-01-19  2024-02-26           9.41         6    56.46
4       2024-01-05  2024-01-19  2024-02-26           9.41         6    56.46
...            ...         ...         ...            ...       ...      ...
2187    2024-12-29  2025-01-04  2025-02-10           9.41         6    56.46
2188    2024-12-28  2025-01-04  2025-02-10           9.35         5    46.75
2189    2024-12-28  2025-01-04  2025-02-10           9.41         5    47.05
2190    2024-12-31  2025-01-04  2025-02-10           9.41         6    56.46
2191    2024-12-27  2025-01-04  2025-02-10           9.35         5    46.75

      Classification
0                  1
1                  1
2                  1
3                  1
4                  1
...              ...
2187               1
2188               1
2189               1
2190               1
2191               1

[2192 rows x 16 columns]

In [13]:
purchase_prices = pd.read_sql_query("select * from purchase_prices where VendorNumber = 4466", conn)
print(purchase_prices)

   Brand                   Description  Price    Size Volume  Classification  \
0   5215  TGI Fridays Long Island Iced  12.99  1750mL   1750               1
1   5255  TGI Fridays Ultimte Mudslide  12.99  1750mL   1750               1
2   3140      TGI Fridays Orange Dream  14.99  1750mL   1750               1

   PurchasePrice  VendorNumber                   VendorName
0           9.41          4466  AMERICAN VINTAGE BEVERAGE
1           9.35          4466  AMERICAN VINTAGE BEVERAGE
2          11.19          4466  AMERICAN VINTAGE BEVERAGE

In [18]:
vendor_invoice = pd.read_sql_query("""select * from vendor_invoice where VendorNumber = 4466""", conn)
print(vendor_invoice)

    VendorNumber                   VendorName InvoiceDate  PONumber  \
0           4466  AMERICAN VINTAGE BEVERAGE    2024-01-07      8137
1           4466  AMERICAN VINTAGE BEVERAGE    2024-01-19      8207
2           4466  AMERICAN VINTAGE BEVERAGE    2024-01-18      8307
3           4466  AMERICAN VINTAGE BEVERAGE    2024-01-27      8469
4           4466  AMERICAN VINTAGE BEVERAGE    2024-02-04      8532
5           4466  AMERICAN VINTAGE BEVERAGE    2024-02-09      8604
6           4466  AMERICAN VINTAGE BEVERAGE    2024-02-17      8793
7           4466  AMERICAN VINTAGE BEVERAGE    2024-03-01      8892
8           4466  AMERICAN VINTAGE BEVERAGE    2024-03-07      8995
9           4466  AMERICAN VINTAGE BEVERAGE    2024-03-12      9033
10          4466  AMERICAN VINTAGE BEVERAGE    2024-03-16      9180
11          4466  AMERICAN VINTAGE BEVERAGE    2024-03-23      9244
12          4466  AMERICAN VINTAGE BEVERAGE    2024-03-31      9371
13          4466  AMERICAN VINTAGE BEVERAGE    2024-04-09      9491
14          4466  AMERICAN VINTAGE BEVERAGE    2024-04-17      9583
15          4466  AMERICAN VINTAGE BEVERAGE    2024-04-20      9639
16          4466  AMERICAN VINTAGE BEVERAGE    2024-04-29      9800
17          4466  AMERICAN VINTAGE BEVERAGE    2024-05-09      9886
18          4466  AMERICAN VINTAGE BEVERAGE    2024-05-14      9999
19          4466  AMERICAN VINTAGE BEVERAGE    2024-05-16     10095
20          4466  AMERICAN VINTAGE BEVERAGE    2024-05-28     10169
21          4466  AMERICAN VINTAGE BEVERAGE    2024-06-04     10257
22          4466  AMERICAN VINTAGE BEVERAGE    2024-06-12     10346
23          4466  AMERICAN VINTAGE BEVERAGE    2024-06-17     10445
24          4466  AMERICAN VINTAGE BEVERAGE    2024-06-22     10600
25          4466  AMERICAN VINTAGE BEVERAGE    2024-06-29     10695
26          4466  AMERICAN VINTAGE BEVERAGE    2024-07-09     10777
27          4466  AMERICAN VINTAGE BEVERAGE    2024-07-08     10836
28          4466  AMERICAN VINTAGE BEVERAGE    2024-07-11     10969
29          4466  AMERICAN VINTAGE BEVERAGE    2024-07-19     11085
30          4466  AMERICAN VINTAGE BEVERAGE    2024-07-26     11187
31          4466  AMERICAN VINTAGE BEVERAGE    2024-08-03     11244
32          4466  AMERICAN VINTAGE BEVERAGE    2024-08-11     11362
33          4466  AMERICAN VINTAGE BEVERAGE    2024-08-18     11489
34          4466  AMERICAN VINTAGE BEVERAGE    2024-08-24     11540
35          4466  AMERICAN VINTAGE BEVERAGE    2024-09-02     11716
36          4466  AMERICAN VINTAGE BEVERAGE    2024-09-12     11771
37          4466  AMERICAN VINTAGE BEVERAGE    2024-09-20     11901
38          4466  AMERICAN VINTAGE BEVERAGE    2024-09-25     11993
39          4466  AMERICAN VINTAGE BEVERAGE    2024-10-01     12125
40          4466  AMERICAN VINTAGE BEVERAGE    2024-10-08     12235
41          4466  AMERICAN VINTAGE BEVERAGE    2024-10-09     12253
42          4466  AMERICAN VINTAGE BEVERAGE    2024-10-12     12321
43          4466  AMERICAN VINTAGE BEVERAGE    2024-10-20     12466
44          4466  AMERICAN VINTAGE BEVERAGE    2024-10-27     12515
45          4466  AMERICAN VINTAGE BEVERAGE    2024-11-07     12702
46          4466  AMERICAN VINTAGE BEVERAGE    2024-11-12     12752
47          4466  AMERICAN VINTAGE BEVERAGE    2024-11-20     12828
48          4466  AMERICAN VINTAGE BEVERAGE    2024-11-27     12929
49          4466  AMERICAN VINTAGE BEVERAGE    2024-11-28     13092
50          4466  AMERICAN VINTAGE BEVERAGE    2024-12-06     13134
51          4466  AMERICAN VINTAGE BEVERAGE    2024-12-16     13254
52          4466  AMERICAN VINTAGE BEVERAGE    2024-12-26     13432
53          4466  AMERICAN VINTAGE BEVERAGE    2024-12-30     13483
54          4466  AMERICAN VINTAGE BEVERAGE    2025-01-09     13627

        PODate     PayDate  Quantity   Dollars  Freight Approval
0   2023-12-22  2024-02-21        15    140.55     8.57     None
1   2023-12-27  2024-02-26       335   3142.33    16.97     None
2   2024-01-03  2024-02-18        41    383.35     1.99     None
3   2024-01-14  2024-03-11        72    673.20     3.30     None
4   2024-01-19  2024-03-15        79    740.21     3.48     None
5   2024-01-24  2024-03-15       347   3261.37    17.61     None
6   2024-02-05  2024-04-02        72    675.36     3.17     None
7   2024-02-12  2024-03-28       117   1096.05     5.15     None
8   2024-02-19  2024-04-02       129   1209.27     5.44     None
9   2024-02-22  2024-04-16       147   1377.87     6.61     None
10  2024-03-03  2024-04-19       211   1979.33     9.50     None
11  2024-03-08  2024-04-21       161   1510.69     6.95     None
12  2024-03-17  2024-05-13       176   1649.20     8.91     None
13  2024-03-24  2024-05-08       215   2016.43    10.08     None
14  2024-03-31  2024-05-12       110   1035.10     5.69     None
15  2024-04-04  2024-06-04       515   5323.01    25.02     None
16  2024-04-15  2024-06-07       275   2775.01    13.60     None
17  2024-04-21  2024-06-12       312   3050.86    13.73     None
18  2024-04-29  2024-06-26       310   3117.82    14.97     None
19  2024-05-06  2024-06-27       215   2123.01    11.46     None
20  2024-05-11  2024-07-04       327   3298.55    15.83     None
21  2024-05-17  2024-07-08       376   3708.18    20.39     None
22  2024-05-23  2024-07-20       640   6458.38    29.71     None
23  2024-05-30  2024-07-19       288   2937.56    15.86     None
24  2024-06-09  2024-08-01       308   3213.28    17.03     None
25  2024-06-16  2024-08-12       143   1585.75     8.09     None
26  2024-06-22  2024-08-15        18    179.88     0.99     None
27  2024-06-25  2024-08-14         8     85.96     0.43     None
28  2024-06-29  2024-08-18        94    993.12     5.06     None
29  2024-07-06  2024-09-04       601   5883.09    31.18     None
30  2024-07-14  2024-08-26      1535  15406.69    77.03     None
31  2024-07-18  2024-09-04       266   2888.22    15.31     None
32  2024-07-26  2024-09-24       206   2171.64    11.08     None
33  2024-08-04  2024-09-16       768   7292.98    37.92     None
34  2024-08-08  2024-10-02      1207  12242.43    64.88     None
35  2024-08-19  2024-09-29       433   4334.43    20.37     None
36  2024-08-23  2024-10-11       370   3640.18    18.20     None
37  2024-09-01  2024-10-30       358   3626.74    16.32     None
38  2024-09-07  2024-10-23       233   2264.85    12.23     None
39  2024-09-16  2024-11-07       284   2813.46    15.47     None
40  2024-09-23  2024-11-20       258   2592.08    11.92     None
41  2024-09-23  2024-11-14         1     11.19     0.05     None
42  2024-09-26  2024-11-19       172   1685.98     7.59     None
43  2024-10-05  2024-11-26       280   2798.60    14.55     None
44  2024-10-09  2024-11-30       178   1763.28     8.64     None
45  2024-10-21  2024-12-11       183   1812.77     8.70     None
46  2024-10-25  2024-12-11       216   2156.16    10.57     None
47  2024-10-30  2024-12-18       262   2597.36    12.99     None
48  2024-11-06  2025-01-04       270   2622.32    12.85     None
49  2024-11-16  2024-12-30       209   2036.17    11.20     None
50  2024-11-20  2025-01-18       305   3018.89    15.70     None
51  2024-11-28  2025-01-13       262   2530.36    11.39     None
52  2024-12-09  2025-01-27       231   2263.43    11.32     None
53  2024-12-13  2025-02-11       221   2178.27    11.33     None
54  2024-12-22  2025-02-05       413   3985.03    19.53     None

In [33]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [44]:
sales = pd.read_sql_query("select * from sales where VendorNo = 12546", conn)
print(sales)

                InventoryId  Store  Brand                 Description  \
0       1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1       1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2       1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3       1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4       1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                     ...    ...    ...                         ...
397184    57_LANTEGLOS_8823     57   8823       Leroux Apricot Brandy
397185     57_LANTEGLOS_884     57    884     DeKuyper Orange Curacao
397186     57_LANTEGLOS_905     57    905       DeKuyper Grape Pucker
397187     57_LANTEGLOS_905     57    905       DeKuyper Grape Pucker
397188     57_LANTEGLOS_906     57    906  DeKuyper Watermelon Pucker

              Size  SalesQuantity  SalesDollars  SalesPrice   SalesDate  \
0            750mL              1         16.49       16.49  2024-01-01
1            750mL              2         32.98       16.49  2024-01-02
2            750mL              1         16.49       16.49  2024-01-03
3            750mL              1         14.49       14.49  2024-01-08
4       375mL 2 Pk              2         69.98       34.99  2024-01-09
...            ...            ...           ...         ...         ...
397184       750mL              1          7.99        7.99  2024-05-28
397185       Liter              2         17.98        8.99  2024-05-21
397186       Liter              1         12.99       12.99  2024-05-07
397187       Liter              2         25.98       12.99  2024-05-21
397188       Liter              1         12.99       12.99  2024-05-01

        Volume  Classification  ExciseTax  VendorNo  \
0        750.0               1       0.79     12546
1        750.0               1       1.57     12546
2        750.0               1       0.79     12546
3        750.0               1       0.79     12546
4        375.0               1       0.79     12546
...        ...             ...        ...       ...
397184   750.0               1       0.79     12546
397185  1000.0               1       2.10     12546
397186  1000.0               1       1.05     12546
397187  1000.0               1       2.10     12546
397188  1000.0               1       1.05     12546

                         VendorName
0       JIM BEAM BRANDS COMPANY
1       JIM BEAM BRANDS COMPANY
2       JIM BEAM BRANDS COMPANY
3       JIM BEAM BRANDS COMPANY
4       JIM BEAM BRANDS COMPANY
...                             ...
397184  JIM BEAM BRANDS COMPANY
397185  JIM BEAM BRANDS COMPANY
397186  JIM BEAM BRANDS COMPANY
397187  JIM BEAM BRANDS COMPANY
397188  JIM BEAM BRANDS COMPANY

[397189 rows x 14 columns]

In [34]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...,...
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,2,16.55,90024,VINILANDIA USA
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750,2,14.93,4425,MARTIGNETTI COMPANIES
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,2,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,2,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,2,24.32,10754,PERFECTA WINES

In [39]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [38]:
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [45]:
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397184,57_LANTEGLOS_8823,57,8823,Leroux Apricot Brandy,750mL,1,7.99,7.99,2024-05-28,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
397185,57_LANTEGLOS_884,57,884,DeKuyper Orange Curacao,Liter,2,17.98,8.99,2024-05-21,1000.0,1,2.10,12546,JIM BEAM BRANDS COMPANY
397186,57_LANTEGLOS_905,57,905,DeKuyper Grape Pucker,Liter,1,12.99,12.99,2024-05-07,1000.0,1,1.05,12546,JIM BEAM BRANDS COMPANY
397187,57_LANTEGLOS_905,57,905,DeKuyper Grape Pucker,Liter,2,25.98,12.99,2024-05-21,1000.0,1,2.10,12546,JIM BEAM BRANDS COMPANY
397188,57_LANTEGLOS_906,57,906,DeKuyper Watermelon Pucker,Liter,1,12.99,12.99,2024-05-01,1000.0,1,1.05,12546,JIM BEAM BRANDS COMPANY

In [46]:
sales.groupby('Brand')[['SalesDollars','SalesPrice', 'SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
60          3042.13     2031.09            287
122          164.85      142.87             15
140          263.76      197.82             24
161          454.65      389.70             35
167           74.97       49.98              3
...             ...         ...            ...
8986        2994.33     2150.80            167
16180       7653.29     5100.51            671
17457       8721.22     5163.84            878
17458       3845.12     2796.20            388
17459       4102.90     2343.65            410

[351 rows x 3 columns]

In [47]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [48]:
freight_summary = pd.read_sql_query("""select VendorNumber, SUM(Freight)as FreightCost
From vendor_invoice
Group BY VendorNumber""", conn)

In [49]:
freight_summary

     VendorNumber  FreightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [51]:
pd.read_sql_query("""SELECT
p. VendorNumber,
p. VendorName,
p.Brand,
p.PurchasePrice,
pp.Volume,
pp.Price as ActualPrice,
SUM(p.Quantity) as TotalPurchaseQuantity,
SUM(p.Dollars) as TotalPurchaseDollars
FROM purchases p
JOIN purchase_prices pp
ON p.Brand = pp.Brand
where p.PurchasePrice >0
GROUP BY p. VendorNumber, p. VendorName, p.Brand
ORDER BY TotalPurchaseDollars""", conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [52]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [55]:
pd.read_sql_query("""
SELECT
  VendorNo,
  Brand,
  SUM("Sales Dollar") AS TotalSalesDollars,
  SUM(SalesPrice) AS TotalSalesPrice,
  SUM("Sales Quantity") AS TotalSalesQuantity,
  SUM(ExciseTax) AS TotalExciseTax
FROM sales
GROUP BY VendorNo, Brand
ORDER BY TotalSalesDollars
""", conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,2,90085,0.0,147.96,0.0,1.34
1,2,90609,0.0,74.97,0.0,0.06
2,60,771,0.0,29.98,0.0,1.58
3,60,3979,0.0,529.74,0.0,53.33
4,105,2529,0.0,29.99,0.0,4.72
...,...,...,...,...,...,...
9030,172662,2872,0.0,1343.58,0.0,44.94
9031,172662,3632,0.0,1680.91,0.0,71.71
9032,172662,4215,0.0,545.79,0.0,22.08
9033,173357,3666,0.0,474.81,0.0,15.30
9034,173357,3909,0.0,4323.27,0.0,257.66

In [83]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('inventory.db')

query = """
WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),

PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices pp ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
),

SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)

SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss ON ps.VendorNumber = ss.VendorNo AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC
"""

vendor_sales_summary = pd.read_sql_query(query, conn)

In [60]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,40902.0,1484710.98,257241.30,75151.61,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,42054.0,1265762.30,212141.83,77268.77,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,52657.0,1324118.93,182108.20,96750.91,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,82439.0,1842448.61,169169.36,151475.73,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,41193.0,1292960.07,205598.93,75686.66,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,5.0,15.95,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,128.0,62.72,0.98,6.72,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,NaN,NaN,NaN,NaN,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,18.0,35.82,15.92,3.78,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,86.0,85.14,33.66,4.46,38994.78

In [61]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [62]:
vendor_sales_summary.isnull().sum()

VendorNumber                0
VendorName                  0
Brand                       0
Description                 0
PurchasePrice               0
ActualPrice                 0
Volume                      0
TotalPurchaseQuantity       0
TotalPurchaseDollars        0
TotalSalesQuantity       2330
TotalSalesDollars        2330
TotalSalesPrice          2330
TotalExciseTax           2330
FreightCost                 0
dtype: int64

In [63]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [64]:
vendor_sales_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      shape=(9651,), dtype=object)

In [65]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [66]:
vendor_sales_summary.fillna(0, inplace = True)

In [67]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [68]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] = vendor_sales_summary['TotalPurchaseDollars']

In [71]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] /  vendor_sales_summary['TotalSalesDollars'])* 100

In [72]:
 vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/ vendor_sales_summary['TotalPurchaseQuantity']

In [73]:
vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [74]:
cursor = conn.cursor()

In [77]:
cursor.execute("""CREATE TABLE vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume DECIMAL(10,2),
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
""")

In [80]:
pd.read_sql_query("select* from vendor_sales_summary", conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,40902.0,3811251.60,257241.30,75151.61,68601.68,3811251.60,100.0,0.281927,1.0
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,42054.0,3804041.22,212141.83,77268.77,144929.24,3804041.22,100.0,0.256367,1.0
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,52657.0,3418303.68,182108.20,96750.91,123780.22,3418303.68,100.0,0.280977,1.0
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,82439.0,3261197.94,169169.36,151475.73,257032.07,3261197.94,100.0,0.408757,1.0
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,41193.0,3023206.01,205598.93,75686.66,257032.07,3023206.01,100.0,0.298264,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5.0,2.64,10.96,0.55,27100.41,2.64,100.0,2.500000,1.0
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,128.0,2.34,0.98,6.72,50293.62,2.34,100.0,21.333333,1.0
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,0.0,1.48,0.00,0.00,14069.87,1.48,100.0,0.000000,1.0
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,18.0,1.47,15.92,3.78,257032.07,1.47,100.0,18.000000,1.0
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86.0,0.71,33.66,4.46,38994.78,0.71,100.0,86.000000,1.0

In [79]:
vendor_sales_summary.to_sql('vendor_sales_summary', conn, if_exists = 'replace', index = False)

10692

In [94]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db  # Make sure this module is correctly named

# Setup logging
logging.basicConfig(
    filename="logs/vendor_summary.log",
    level=logging.INFO,
    format="%(asctime)s - %(levelname)s - %(message)s"
)

# Step 1: Connect to the database
conn = sqlite3.connect('inventory.db')
logging.info("Connected to database.")

# Step 2: Run SQL to get vendor summary
query = """
WITH FreightSummary AS (
    SELECT VendorNumber, SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices pp ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
),
SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)
SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss ON ps.VendorNumber = ss.VendorNo AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC
"""

vendor_df = pd.read_sql_query(query, conn)
logging.info("Vendor summary query executed.")

# Step 3: Clean and enrich the data
vendor_df['Volume'] = vendor_df['Volume'].astype(float)
vendor_df.fillna(0, inplace=True)
vendor_df['VendorName'] = vendor_df['VendorName'].str.strip()
vendor_df['Description'] = vendor_df['Description'].str.strip()

vendor_df['GrossProfit'] = vendor_df['TotalSalesDollars'] - vendor_df['TotalPurchaseDollars']
vendor_df['ProfitMargin'] = (vendor_df['GrossProfit'] / vendor_df['TotalSalesDollars']) * 100
vendor_df['StockTurnover'] = vendor_df['TotalSalesQuantity'] / vendor_df['TotalPurchaseQuantity']
vendor_df['SalesToPurchaseRatio'] = vendor_df['TotalSalesDollars'] / vendor_df['TotalPurchaseDollars']

logging.info("Data cleaned and enriched.")

# Step 4: Ingest into database
ingest_db(vendor_df, 'vendor_sales_summary', conn)
logging.info("Data ingested into vendor_sales_summary table.")